<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}">
    <link rel="icon" type="image/png" href="http://namitjuneja.com/favicon.png">

    <script id="twitter-wjs" src="{{ url_for('static', filename='widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='scale.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
<body>
  <div class="content">

      <header>
        <h2><span><a href="http://orderedlist.com/">ordered<span>list</span></a></span></h2>
        <p>writing by <a href="https://twitter.com/orderedlist">namit juneja</a></p>
      </header>

      <article>
          <h1>{{ page.title }}</h1>

          <div class="excerpt">
          {{ page.top }}
          </div>

          {{ page.html|safe }}
          <!-- <p>I don't know how to design software without building it. I said it. Maybe that means my design skills need to be better. Sure, I'll start with sketches or mockups. But very quickly, I'll move into the build.</p>

          </div>

  
        

        <p>Sometimes that might be a quick prototype in HTML/CSS. Maybe it's a prototype in JavaScript and <a href="http://electron.atom.io/">Electron</a>. Maybe it's a new Rails app just to try out an idea. Maybe it's building the full feature into the production code. But whatever it is, I've got to get it off pixels and into code. No amount of designing an interface can replace interfacing with your design.</p>

        <h2><span>Best intentions</span></h2>

        <blockquote class="pullquote pullquote-right">
          No amount of designing an interface can replace interfacing with your design.
        </blockquote>

        <p>It's obvious why I'd want to do this. As previously stated, my design skills could be better. As it turns out, many of my initial ideas are inadequate. Things I think will work just don't feel right. What I thought would make sense is actually confusing. But I'd never know that by staring at my Sketch file.</p>

        <p>Having that instant feedback cycle of <em>that didn't work. What about this? Nope, This? Almost. This? Yes, that's it!</em> is so valuable to the design process. So you could sit and wait for somebody else to build it for you. You can tell them to redo it a few times until you get it just right. Or (while you're waiting) you could just learn to do it yourself.</p>

        <h2><span>But (insert skill here) is hard</span></h2>

        <p><strong>Bullshit</strong>. People do it every day. Designing software requires a knowledge of workflows, a systematic approach to simplifying the complex, and a deep understanding of the interface paradigms that software provides us. Coding is the same thing. You may never reach the skill level of that engineer or designer you have on a pedestal, but that's not the point. The point is <em>making great software</em>, and knowing how to design <em>and</em> code will help you do that better. <strong>It just will</strong>.</p>

        <p>In the interest of full disclosure, I <em>should</em> admit that I started my career as a developer. I knew coding long before I knew design. I think the world of software would be made <strong>infinitely better</strong> if <em>developers</em> learned product design than the reverse. But until that day, we all could get a little better at something.</p>

        <blockquote class="pullquote pullquote-right">
          Don't let your ego get in the way of your own progress.
        </blockquote>

        <p>I learned visual design over years. I'm still learning it. I'm no artist. But trial and error goes a long way, and eventually got the hang of it. It's not impossible. Learning Ruby for a designer can be just as uncomfortable as learning how to balance typography for a developer. Get uncomfortable. Get better.</p>

        <h2><span>The struggle is real</span></h2>

        <p>Believe me, when you start learning a new thing (be that CoffeeScript or visual design) you're going to be <strong>terrible</strong> at it. And you will be for a while. You're going to make mistakes. You're going to build things that you'll be ashamed of later. And <em>that's</em> perfect. Don't let your ego get in the way of your own progress. Start learning something new <strong>now</strong>, stick with it, and you'll be pretty good at it in a year. Maybe not great. Probably not hirable for that particular skill alone.</p>

        <p>But you'll be better at <strong>building software</strong>.</p>
 -->

        <p class="date">{{ page.date}}</p>
        
</article>

<div class="pagination">
  
    <a href="{{url_for("page", path= dict.prev_path ) }}" class="button {{ dict.prev_disabled }} button-previous">{{ dict.prev_title }}</a>
  

  
    <a href="{{url_for("page", path= dict.next_path ) }}" class="button {{ dict.next_disabled }} button-next">{{ dict.next_title }}</a>
  
</div>


        <footer>
      <p>Copyright © 2015 Namit Juneja. All Rights Reserved.</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    <script type="text/javascript">
      var headlines = document.getElementsByTagName('h2');

      for (var i = 0; i < headlines.length; i++) {
        var headline = headlines[i];
        headline.innerHTML = '<span>' + headline.innerHTML + '</span>';
      }

    </script>
  

  </div>


</body>
</html>